In [3]:
import os
import pandas as pd
import numpy as np

In [3]:
os.getcwd()

'd:\\Projects\\ML Projects\\ML_Project_01\\ml_project1\\notebook'

In [4]:
train_data_frame = pd.read_csv("d:\\Projects\\ML Projects\\ML_Project_01\\ml_project1\\housing\\artifact\\data_ingestion\\2022-12-21-09-56-22\\ingested_data\\train\\housing.csv")
test_data_frame = pd.read_csv("d:\\Projects\\ML Projects\\ML_Project_01\\ml_project1\\housing\\artifact\\data_ingestion\\2022-12-21-09-56-22\\ingested_data\\test\\housing.csv")

In [77]:
train_data_frame.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND

In [28]:
train_data_frame.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [31]:
list(train_data_frame.columns)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [30]:
train_col_list = list(train_data_frame.columns)

In [10]:
len(train_data_frame.columns)

10

In [11]:
import yaml
from housing.exception import HousingException
import os,sys

def read_yaml_file(file_path:str) -> dict:
    """
    Reads a YAML file and returns the contents as a dictinory .
    """

    try:
        with open(file_path,"rb") as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise HousingException(e, sys) from e

In [49]:
schema_info = read_yaml_file(f"D:\Projects\ML Projects\ML_Project_01\ml_project1\config\schema.yaml")

In [50]:
schema_info

{'columns': {'longitude': 'float',
  'latitude': 'float',
  'housing_median_age': 'float',
  'total_rooms': 'float',
  'total_bedrooms': 'float',
  'population': 'float',
  'households': 'float',
  'median_income': 'float',
  'median_house_value': 'float',
  'ocean_proximity': 'category'},
 'target_column': 'median_house_value',
 'domain_value': {'ocean_proximity': ['<1H OCEAN',
   'INLAND',
   'ISLAND',
   'NEAR BAY',
   'NEAR OCEAN']}}

In [89]:
schema_info.keys()

dict_keys(['columns', 'target_column', 'domain_value'])

In [51]:
schema_info["columns"]

{'longitude': 'float',
 'latitude': 'float',
 'housing_median_age': 'float',
 'total_rooms': 'float',
 'total_bedrooms': 'float',
 'population': 'float',
 'households': 'float',
 'median_income': 'float',
 'median_house_value': 'float',
 'ocean_proximity': 'category'}

In [52]:
len(schema_info["columns"])

10

In [53]:
col = schema_info["columns"]

In [54]:
col.keys()

dict_keys(['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity'])

In [90]:
type(col.keys())

dict_keys

In [55]:
list(col.keys())

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [56]:
col_list = list(col.keys())

In [57]:
train_col_list

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [84]:
#import collections 


l1 = [10, 20, 30, 40, 50] 
l2 = [10, 20, 30, 50, 40, 70] 
l3 = [50, 10, 30, 20, 40] 

l1.sort() 
l2.sort() 
l3.sort() 

if l1 == l3: 
    print ("The lists l1 and l3 are the same") 
else: 
    print ("The lists l1 and l3 are not the same") 


if l1 == l2: 
    print ("The lists l1 and l2 are the same") 
else: 
    print ("The lists l1 and l2 are not the same")

The lists l1 and l3 are the same
The lists l1 and l2 are not the same

In [85]:
if col_list.sort() == train_col_list.sort():
        print("Lists are equal")
else:
    print("Lists are not equal")

Lists are equal

______

In [60]:
schema_info['domain_value']

{'ocean_proximity': ['<1H OCEAN',
  'INLAND',
  'ISLAND',
  'NEAR BAY',
  'NEAR OCEAN']}

In [61]:
schema_info['domain_value'].values()

dict_values([['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']])

In [74]:
list(schema_info['domain_value'].values())

[['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']]

In [81]:
ocean_proximity_schema_values = list(schema_info['domain_value'].values())[0]

In [82]:
ocean_proximity_schema_values

['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']

In [78]:
train_data_frame.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND

In [79]:
train_data_frame['ocean_proximity']

0            INLAND
1        NEAR OCEAN
2            INLAND
3        NEAR OCEAN
4         <1H OCEAN
            ...
16507     <1H OCEAN
16508        INLAND
16509     <1H OCEAN
16510     <1H OCEAN
16511        INLAND
Name: ocean_proximity, Length: 16512, dtype: object

In [80]:
set(train_data_frame['ocean_proximity'])

{'<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'}

In [87]:
ocean_proximity_train_data_frame_values = list(set(train_data_frame['ocean_proximity']))

In [88]:
if ocean_proximity_schema_values.sort() == ocean_proximity_train_data_frame_values.sort():
        print("Lists are equal")
else:
    print("Lists are not equal")

Lists are equal